{% extends 'authenticate/base.html' %}

{% block content %}

<h1>This is the home page</h1>

{% if user.is_authenticated %}

<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
<p>Username: {{ user.username }} </p>
<p>Email: {{ user.email }}</p>

{% endif %}

{% endblock %}