{% extends 'authenticate/base.html' %}

{% block content %}

<h1 class="text-center">Login</h1>

<div class="col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Username" name="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter Password" name="password">
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>

{% endblock %}